.landingWhite {
  background-color: White;
  height: 120%;
  width: 100%;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


._input{
  border-bottom-color: black!important;
}

.middleForm{
    padding-top: 10%;
    width: 25%;
    float: right;
    margin-right: 25%;
}

.photoForm{
    width: 25%;
    float: left;
    margin-left: 25%;
    margin-top: 10%;
}

#photo{
    background-image: url('../img/camera.png');
    width: 225px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 45px 78px;
    border: 1px solid rgb(213, 213, 213);
}
