





/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #fff;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		font-family: 'Mission Gothic', sans-serif;
 }

 	.top-bar{
	 	width: 100%;
	 	background: white;
	 	height: 69px;
	 	position: fixed;
	 	z-index: 999999;
 	}

 	 	 #menu-icon {
	 	display: block;
	 	width: 40px;
	 	height: 40px;
	 	background:  url('../images/menu-icon.png') center;
	 	margin-top:-5px;
	 	transition: all .25s ease-in-out;
	 	-moz-transition: all .25s ease-in-out;
	 	-webkit-transition: all .25s ease-in-out;
	 	opacity: 1;
	 }




	 #menu-icon:hover {
		transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		opacity: .5;
		border-radius: 4px 4px 0 0;
	}



	#menu-icon {
		display:inline-block;
		float: right;
		margin-right:0%;
		margin-top:15px;
		margin-right: 60%;

	}



	.search-icon{
		display: block;
		width: 40px;
		height: 40px;
		margin-bottom:-30px;
		margin-right: 30px;
		background: url('../images/search.png');
	}


	.search-placement{
		float: right;
		margin-right: 50px;
		margin-top: 10px;
		}

	#menu-icon { display:block; float: right; margin-right:0%; margin-top:15px;margin-right: 55%; visibility: visible; }

	nav ul, nav:active ul {

		visibility: hidden;
		position: absolute;
		padding-top: 20px;
		padding-bottom: 10px;
		z-index:99999;
		background: black;
		margin-top:69px;
		right: 0px;
		width: 100%;
		border-top: 20px solid white;
		border-bottom: 0px solid #C5B69F;
		font-size: 20px;
		height: 1000%;
		opacity: 0;
		transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;
	}



	nav li {
		width: 100%;
		text-align: center;
		padding-top: 30px;
		color: white;

	}

	nav:hover ul {

		visibility: visible;
		float: none;
		opacity: 1;
		color: white;

	}



 	#menu-icon {
	 	display: block;
	 	margin-right: 40px;
	 	width: 40px;
	 	height: 40px;
	 	background:  url('../images/menu-icon.png') center;
	 	transition: all .25s ease-in-out;
	 	-moz-transition: all .25s ease-in-out;
	 	-webkit-transition: all .25s ease-in-out;
	 	opacity: 1;
}




	#menu-icon:hover {
		transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		opacity: .5;
		border-radius: 4px 4px 0 0;

}



	.search-icon{
		display: block;
		width: 40px;
		height: 40px;
		margin-bottom:-30px;
		margin-right: 30px;
		background: url('../images/search.png');
	}


	.search-placement{
		float: right;
		margin-right: 50px;
		margin-top: 10px;
		}




	.footer-section{
	 	background: black;
	 	position: absolute;
	 	width: 100%;
	 	padding-top: 20px;
	 	padding-bottom: 00px;
 	}

 	.footer-text{
	 	float: left;
	 	font-size: 15px;
	 	color: white;

 	}

 	.footer-nav{
	 	text-align: center;
	 	width: 300px;
	 	color: white;
 	}

 	.footer-links{
	 	color: white;
	 	font-size: 12px;
 	}

 	.footer-links:hover{
	 	color: white;
	 	border-bottom: 2px solid white;
 	}

 	.social-box{
	 	float: right;
	 	width: 47%;
 	}

 	.social-icon{
	 	font-family: 'entypo-social';
	 	font-size:30px;
	 	color: white;

 	}

	.social-icon:hover{
	 	font-family: 'entypo-social';
	 	font-size:30px;
	 	color: #999;
	 	border-bottom: none;
 	}


 	 	.right{ padding-right: 40px; }


 	 .black-section{
	 	background: rgba(0,0,0,0.75);
	 	width: 45%;
	 	padding: 5%;
	 	float: right;
	 	margin-top: 5%;
 	}


 	.left-section{
	 	background: rgba(255,255,255,0);
	 	margin-top: 20%;
	 	width: 35%;
	 	padding: 5%;
	 	float: left;
	 	margin-top: 5%;
 	}



 	.safe-and-secure{
		background: white;
		padding-bottom: 5%;
		height: 95%;
		width: 100%;
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}

	.legal-links{
		font-size: 12px;
	}

	.box{
		padding:2% 1% 2% 1%;
		border: 2px solid black;
	}

	.s-box{
		width: 65%;
		margin-top: 10%;
		height: 500px;
		 overflow:auto;
		 float: right;
		 padding-right: 10%;
	}
	 	.right-section{
	 	background: rgba(255,255,255,0);
	 	margin-top: 20%;
	 	width: 45%;
	 	padding: 5%;
	 	float: right;
	 	margin-top: 10%;
 	}

 	    .right-section2{
		 	background: rgba(255,255,255,0);
	 	margin-top: 20%;
	 	width: 65%;
	 	padding: 5%;
	 	float: right;
	 	margin-top: 10%;
	    }



 	.left-section2{
	 	background: black;
	 	margin-top: 0%;
	 	width: 170px;
	 	padding-left: 28px;
	 	padding-top: 10%;
	 	float: left;
	 	height: 90%;
 	}




	.invite{
		background: url('../images/invite.jpg');
		height: 100%;
		width: 100%;
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}


	.what-we-love{
		height: 100%;
		width: 100%;
		background: url('../images/what-we-love.png');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
	}


		.corporate{
		height: 100%;
		width: 100%;
		background: url('../images/corporate.jpg');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
	}

		.credit-insight{
		height: 120%;
		width: 100%;
		background: url('../images/credit-insight.jpg');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
	}


		.iqscore{
		height: 79%;
		width: 100%;
		background: url('../images/iq-score.png');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		text-align: center;
		}

	    .our-thinking{
		height: 100%;
		width: 100%;
		background: url('../images/our-thinking.png');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		text-align: center;
		}

		 .innovation{
		height: 120%;
		width: 100%;
		background: url('../images/innovation.jpg');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		text-align: center;
		}


	.support{
		height: 100%;
		width: 100%;
		background: url('../images/support.png');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		text-align: center;
		}

	.culture{
		height: 120%;
		width: 100%;
		background: url('../images/culture.jpg');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		text-align: center;
		}


	.bmw{
		height: 70%;
		width: 100%;
		background: url('../images/challenge.png');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		text-align: center;
	}

		.phone{
		height: 70%;
		width: 100%;
		background: url('../images/background-phone.png');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		text-align: center;
	}


	.thank-you{
				height: 100%;
		width: 100%;
		background: url('../images/corporate.jpg');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
	}

/* #Main Page Links
================================================== */

	.what-we-love-menu{
		height: 235px;
		width: 100%;
		background: url('../images/what-we-love.png');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		margin-bottom: 2%;
		opacity: .5;
		transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
	}

	.what-we-love-menu:hover{
		opacity: 1;
	}

	.innovation-menu{
		height: 235px;
		width: 100%;
		background: url('../images/innovation.png');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		text-align: center;
		margin-bottom: 2%;
		opacity: .5;
		transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
	}

	.innovation-menu:hover{
		opacity: 1;
	}

	.corporate-menu{
		height: 235px;
		width: 100%;
		background: url('../images/corporate.jpg');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		text-align: center;
		margin-bottom: 2%;
		opacity: .5;
		transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;
	}

	.corporate-menu:hover{
		opacity: 1;
	}

		.credit-insight-menu{
		height: 235px;
		width: 100%;
		background: url('../images/credit-insight.jpg');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		text-align: center;
		margin-bottom: 2%;
		opacity: .5;
		transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;
	}

	.credit-insight-menu:hover{
		opacity: 1;
	}

		.credit-program-menu{
		height: 235px;
		width: 100%;
		background: url('../images/credit-program.jpg');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		text-align: center;
		margin-bottom: 2%;
		opacity: .5;
		transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;
	}
	.credit-program-menu:hover{
		opacity: 1;
	}

		.iqscore-menu{
		height: 235px;
		width: 100%;
		background: url('../images/iq-score.png');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		text-align: center;
		margin-bottom: 2%;
		opacity: .5;
		transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;
	}

	.iqscore-menu:hover{
		opacity: 1;
	}

		.our-thinking-menu{
		height: 235px;
		width: 100%;
		background: url('../images/our-thinking.png');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		text-align: center;
		margin-bottom: 2%;
		opacity: .5;
		transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;
	}
	.our-thinking-menu:hover{
		opacity: 1;
	}

		.member-center-menu{
		height: 235px;
		width: 100%;
		background: url('../images/member-center.png');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		text-align: center;
		margin-bottom: 2%;
		opacity: .5;

transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;
	}
	.member-center-menu:hover{
		opacity: 1;
	}

		.support-menu{
		height: 235px;
		background: url('../images/support.png');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		width: 100%;
		text-align: center;
		margin-bottom: 2%;
		opacity: .5;
		transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;
	}

	.support-menu:hover{
		opacity: 1;
	}

		.challenge-menu{
		height: 235px;
		width: 100%;
		background: url('../images/challenge.png');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		text-align: center;
		margin-bottom: 2%;
		opacity: .5;
		transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;
	}
	.challenge-menu:hover{
		opacity: 1;
	}


	.new-member-center{
	height: 235px;
	width: 1120px;
	background: url('../images/member-center-2.png');
	background-position: center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	text-align: center;
	margin-bottom: 2%;
	opacity: .5;
	transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;
}
.new-member-center:hover{
	opacity: 1;
}



		.culture-menu{
		height: 235px;
		width: 100%;
		background: url('../images/culture.jpg');
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		opacity: .5;
		margin-bottom: 2%;
		transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;
	}
	.culture-menu:hover{
		opacity: 1;
	}

	.culture-div{
		width: 1120px;
		height: 235px;
	}



		.icon-navigation-landing{
		padding-left: 4%;
		padding-right: 4%;
		border-right: 1px solid black;
		opacity: 1;
		transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;
	}
		.icon-navigation-landing:hover{
			opacity: .5;
		}



/* #Typography
================================================== */


	@font-face {
		font-family: 'Entypo-social';
		src: url('../fonts/entyposocial/entypo-social.ttf');
}

	@font-face {
		font-family: 'Mission Gothic';
		src: url('../fonts/Mission Gothic Bold.otf');
}


	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: 'Mission Gothic', sans-serif;
		font-weight: normal;
		text-transform: uppercase; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 10px; letter-spacing: 3px; color: white; }
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 44px; margin-bottom: 25px; letter-spacing: 3px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	.subheader { color: #777; } .white{ color: white; } .black{ color: black; }

	.mission-gothic{
		font-family: 'Mission Gothic', sans-serif;
	}

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

	.large-text{ line-height: 40px; font-size: 20px; letter-spacing: 1px; }
	.larger-text{ font-size: 25px; line-height: 40px; letter-spacing: 1px; }
	.medium-text{ font-size: 15px; line-height:20px; }
	.small-text{ font-size: 10px; letter-spacing: 1px; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a { color: #999; text-decoration: none; outline: 0;  font-size: 20px; text-transform: uppercase; letter-spacing: 2px; transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out; }
	a:hover { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 0px; }
	ul { list-style: none; text-align: center }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 20px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; padding-left: 2%; display: inline-block; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }
	li a{ color: white; padding-bottom: 0; font-size: 15px; }
	li a:hover{ border-bottom: 2px solid white; color: white; padding-bottom: 8px; }
	nav{ float: right; margin-top:-5px; }



/* #Images
================================================== */

	img,video{ width: auto; max-width: 100%; height: auto; margin: 0 auto 0em; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
	  background: rgba(255,255,255,0);
	  border: 2px solid black;
	  color: black;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: normal;
	  text-decoration: none;
	  text-transform: uppercase;
	  letter-spacing: 3px;
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
	  color: white;
	  background: black;
	  border: 2px solid black; }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 2px solid #666;
		background: rgba(204,204,204,0);

}

	.button2{
	  background: rgba(255,255,255,0);
	  border: 2px solid white;
	  color: white;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: normal;
	  text-decoration: none;
	  text-transform: uppercase;
	  letter-spacing: 3px;
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
}



	.button2:hover{
		background: white;
		color: black;
	}


	input.button2{
	  background: rgba(255,255,255,0);
	  border: 2px solid white;
	  color: white;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: normal;
	  text-decoration: none;
	  text-transform: uppercase;
	  letter-spacing: 3px;
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out; }



	input.button2:hover{
		background: white;
		color: black;
		border: 2px solid white;
	}



/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 2px solid white;
		padding: 6px 4px;
		outline: none;
		border-radius: 0;
		color: #eee;
		margin: 0;
		width: 100%;
		display: block;
		margin-bottom: 20px;
		background: rgba(255,255,255,0); }

		input.black-border{
			border: 2px solid black;
			color: black;
		}




		input[type="email"]:focus{
			color: white;
		}
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus

	textarea:focus {
		border: 2px solid #aaa;
 		color: #999; }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

	.landing-logo{
		width: 198px;
		height: 69px;
		background: url('../images/logo-full.png');
		display: block;
		float: left;
		border: 0px;
		opacity: 1;
}
	.landing-logo:hover{
		opacity: .7;
	}
/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	.middle{ padding-top: 20%; }
	.middle2{ padding-top: 15%; }
	.margin{ padding-top: 7%; padding-bottom: 5%; }
	.white_content {
        display: none;
        position: absolute;
        top: 15%;
        left: 12%;
        width: 70%;
        height: 55%;
        border: 10px solid white;
        background: white;
        z-index:1002;

    }


    .white_content2 {
        display: none;
        position: absolute;
        top: 15%;
        left: 12%;
        width: 70%;
        height: 75%;
        border: 10px solid white;
        background: white;
        z-index:1002;

    }
	     .black_content {
     	background: white;
		background-position: center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
        display: none;
        text-align: center;
        position: absolute;
        top: 15%;
        left: 12%;
        width: 70%;
        height: 65%;
        padding-top: 5%;
        border: 10px solid black;
        z-index:1002;

    }
    .promo-code-description{
	    overflow: scroll;
	    width: 70%;
	    height: 60px;
	    color: #999;
    }
    .promo-code-description:hover{
	    height: 300px;
    }
    .black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }


	/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
    	.margin{ padding-top: 30%; }
    	.landing-logo{ width: 110px; height: 69px; background: url('../images/logo.png'); display: block; float: left; border: 0px; opacity: 1; }
    	.innovation{ height: 170%; }
    	.corporate{ height: 170%; }
    	.culture-div{ width: 300px; height: 235px; }
    	.footer-section{ padding-bottom: 10px; }
    	.social-box{ float: none; width: 100%; }
        .container { width: 300px; }
        #menu-icon{margin-right: 0px;}
        .middle{ padding-top: 50%; }
        .right{ padding-right: 0px; }
        .black-section{ background: rgba(0,0,0,0.75); width: 91%; padding: 5%; float: none; margin-top: 00%; }
 	 	.left-section{ background: rgba(255,255,255,0); margin-top: 20%; width: 91%; padding: 5%; float: none; margin-top: 10%; }
 	 	.large-text{ font-size: 14px; }
.s-box{
		width: 95%;
		margin-top: 10%;
		height: 500px;
		 overflow:auto;
		 float: none;
		 padding-right: 0%;
		 padding-left: 3%;
	}

 	.left-section2{
	 	background: black;
	 	margin-top: 0%;
	 	width: 100%;
	 	padding-left: 28px;
	 	padding-top: 20%;
	 	float: none;
	 	height: 100px;
 	}



        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }


    }
.what-we-do {
height: 79%;
width: 100%;
background: url('../images/what-we-do.jpg');
background-position: center top;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
text-align: center;
text-align: center;
}


.column-left{ float: left; width: 33%;margin-top: 35px; }
.column-right{ float: right; width: 33%; margin-top: 35px;}
.column-center{ display: inline-block; width: 33%;margin-top: 35px;background-color: #F7F7F7;
height: 120%; }
