
@font-face {
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	position: relative;
	color: #faf1e0;
	font-size: 100%;
	line-height: 1.25;
	font-weight: 300;
}

.container {
	/*background: #67c2d4;*/
}

a, button {
	color: #553445;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #e75854;
}

.codrops-header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 800;
	font-size: 3em;
}

.codrops-header p {
	padding: 0.35em 0 1.25em;
	margin: 0;
	font-size: 1.65em;
	opacity: 0.7;
}

/* Codrops Demos */
.codrops-demos a {
	text-transform: uppercase;
	display: inline-block;
	margin: 0 10px;
}

.codrops-demos a.current-demo {
	color: #e75854;
}

/* Top Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

section {
	text-align: justify;
	max-width: 800px;
	margin: 0 auto;
	clear: both;
}

section p {
	font-size: 1.5em;
	line-height: 1.75;
}

section > p:first-child {
	text-align: center;
}

section.related {
	text-align: center;
}

.related p {
	font-weight: 700;
}

.related > a {
	border: 2px solid #faf1e0;
	color: #faf1e0;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 20px;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
}

.related a:hover {
	color: rgba(0,0,0,0.2);
	border-color: rgba(0,0,0,0.2);
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	text-align: left;
}

/* Demo mockups */
.mockup-content {
	text-align: center;
}

.demo-4 .mockup-content {
	padding: 1em 0 3em;
}

.demo-5 .mockup-content {
	padding: 1em 0 6em;
}

.mockup-content > span {
	display: block;
	background: rgba(0,0,0,0.1);
	height: 50px;
	width: 100%;
	margin: 0 0 10px;
	clear: both;
}

.mockup-content > span:nth-child(2),
.mockup-content > span:nth-child(3),
.mockup-content > span:nth-last-child(2) {
	width: calc(50% - 5px);
	float: left;
	clear: none;
	height: 80px;
}

.mockup-content > span:nth-child(3),
.mockup-content > span:nth-last-child(2) {
	float: right;
}

.mockup-content > span:nth-last-child(2) {
	width: calc(100% - 310px);
}

.no-js .mockup-content > span:nth-last-child(2) {
	width: 100%;
}

.mockup-content h2 {
	font-size: 2em;
	margin: 0;
}

.mockup-content > p {
	font-size: 0.85em;
	text-align: center;
	opacity: 0.5;
	margin: 0;
	overflow: hidden;
}

.no-js .joiner {
	display: block;
}

.demo-5 .mockup-content > p {
	font-size: 1.4em;
	margin: 0;
	padding: 0.5em 0;
	text-align: justify;
}

.js .fixed-block {
	min-height: 300px;
	position: relative;
}

.mockup-left {
	float: left;
	max-width: 100%;
	overflow: hidden;
	width: 300px;
	margin: 0 40px 50px 0;
	background: rgba(0,0,0,0.1);
	height: 400px;
	position: relative;
}

.mockup-left::after {
	content:'\2234';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: rgba(0,0,0,0.05);
	font-size: 15em;
}

.mockup-right {
	text-align: left;
}

html.demo-7, .demo-7 body {
	overflow-x: hidden;
	height: 100%;
}

.demo-7 .container {
	width: 100%;
	position: absolute;
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
	transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
}

.no-js.demo-7 .container {
	width: calc(100% - 300px);
	right: 0;
}

.pushed.container {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
}

@media screen and (max-width: 770px) {
	.mockup-left {
		float: none;
		margin: 0 auto 20px;
	}

	.mockup-right {
		text-align: center;
	}

	.joiner {
		display: block;
	}
}

@media screen and (max-width: 400px) {
	.mockup-content > span:nth-last-child(2) {
		width: calc(100% - 210px);
	}
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}
